<div class="content-main">
  <div class="header">
    <span class="title"><h3>Registrar Unidad</h3></span>
  </div>
  <div class="content-form" >
    <app-form-unidad
      #formRegistroUnidad>
    </app-form-unidad>
  </div>
  <div class="content-buttons">
    <a mat-raised-button routerLink="/admin/unidades">
      <mat-icon>cancel</mat-icon>Cancelar
    </a>
    <button mat-raised-button (click)="saveInfoGeneral()">
      <mat-icon>save</mat-icon>Registrar
    </button>
  </div>
</div>
