.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.content-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 60px;
  margin-bottom: 40px;
}

.content-buttons button {
  margin: 5px;
}
