<div mat-dialog-content>
  <app-table
    #tableAddProducts
    [columns]="columnsTable"
    [data]="listProducts"
    [checks]="true">
  </app-table>
</div>
<div mat-dialog-actions align="end">
  <button 
    mat-button 
    [mat-dialog-close]="null">
    Cancelar
  </button>
  <button
    (click)="acept()"
    cdkFocusInitial
    mat-button>
    Agregar seleccionados
  </button>
</div>

