<div class="content-main">
  <div class="title"><h3>Editar unidad</h3></div>
  <mat-button-toggle-group #groupTabs="matButtonToggleGroup">
    <mat-button-toggle checked="true" value="info-general" aria-label="Informacion General">
      <mat-icon>info</mat-icon>Informacion General
    </mat-button-toggle>
    <mat-button-toggle value="mapa" aria-label="Ubicacion">
      <mat-icon>edit_location</mat-icon>Ubicacion
    </mat-button-toggle>
    <mat-button-toggle value="add-products" aria-label="Lista de productos">
      <mat-icon>list</mat-icon>Lista de productos
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="content-form" >
    <app-form-unidad
      #formRegistroUnidad
      [hidden]="groupTabs.value != 'info-general'"
      [unidad]="unidad">
    </app-form-unidad>
    <app-mapa
      #mapa
      *ngIf="groupTabs.value == 'mapa'"
      [position]="position"
      (changePosition)="updatePosition($event)">
    </app-mapa>
    <app-unidad-products
      #unidadProducts
      [hidden]="groupTabs.value != 'add-products'">
    </app-unidad-products>

    <div>
      <img [src]="urlCode" alt="imagen qr">
    </div>

    <button mat-raised-button (click)="downloadQr()">Descarga QR</button>

    <div class="content-buttons">

      <a mat-raised-button routerLink="/admin/unidades">
        <mat-icon>arrow_back_ios</mat-icon>Regresar
      </a>
      <button mat-raised-button *ngIf="groupTabs.value == 'info-general'" (click)="saveInfoGeneral()">
        <mat-icon>save</mat-icon>Guardar Cambios
      </button>
    </div>
    
  </div>
</div>
