.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  width: 100%;
}

.content-main {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 65vw;
}

.content-buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-right: 60px;
  margin-bottom: 40px;
}

.content-buttons button {
  margin: 5px;
}

mat-button-toggle-group {
  margin-bottom: 20px;
}

mat-button-toggle-group {
  flex-wrap: wrap;
}
