<div class="container content-main">
  <mat-card>
    <h4>Ingrese sus datos</h4>
    <div [formGroup]="formRegistro" role="form">

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Nombre*"
          type="text"
          [formControl]="formRegistro.controls['nombre']"
          class="form-control">
        <mat-error 
          [appError]="formRegistro.controls['nombre'].errors">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Apellidos*"
          type="text"
          [formControl]="formRegistro.controls['apellidos']">
        <mat-error 
          [appError]="formRegistro.controls['apellidos'].errors">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Correo electronico*"
          type="email"
          [formControl]="formRegistro.controls['correo_electronico']">
        <mat-error 
          [appError]="formRegistro.controls['correo_electronico'].errors">
        </mat-error> 
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Telefono 10 digitos"
          type="text"
          [formControl]="formRegistro.controls['telefono']">
        <mat-error 
          [appError]="formRegistro.controls['telefono'].errors">
        </mat-error> 
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Contraseña*"
          type="password"
          [formControl]="formRegistro.controls['password']">
        <mat-error 
          [textForPattern]="'La constraseña debe contener una mayuscula, una minuscula y un numero'"
          [appError]="formRegistro.controls['password'].errors">
        </mat-error>
      </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="clickOnCancel()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="onClickRegister()">Registrarse</button>
    </div>
  </mat-card>
</div>
