mat-card {
  width: 400px;
  padding: 20px;
}

.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttons {
  text-align: right;
  button {
    margin-left: 10px;
  }
}

.form-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-registro {
  max-width: 550px;
  width: 80%;
}
