.main-container {
  display: flex;
  min-height: 94vh;
  justify-content: center;
}

.container-menu {
  position: sticky;
  top: 25px;
  margin: 25px;
  width: 20vw;
  height: 80vh;
  overflow: auto;
  background: rgba(0,0,0,.03);
}

.active {
  color: black;
  font-weight: bold;
}

button {
  padding: 10px 15px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: 0 0;
  border: none;
  color: rgba(0,0,0,.5);
}

ul {
  list-style-type: none;
  margin: 0 0 5px;
  padding: 0;
  overflow: hidden;
}

li {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 5px 15px 5px 20px;
}

a {
  display: block;
  text-decoration: none;
  color: rgba(0,0,0,.54);
  cursor: pointer;
}

/* Small devices */
@media only screen and (max-width: 820px) {

  .container-menu {
    display: none;
  }

  .container-router {
    width: 100%;
  }

} 

/* Medium devices */
@media only screen and (min-width: 820px) {

  .container-router {
    width: 73vw;
  }

  .container-menu {
    display: block;
  }
}
