<div class="main-container">
  <div class="container-menu">
    <div role="nav">
      <ul>
        <li routerLinkActive="active" >
          <a routerLink="unidades">Sucursales</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="categorias">Categorias</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="productos">Productos</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="usuarios">Colaboradores</a>
        </li>
        <li routerLinkActive="active">
          <a (click)="showReports()">Reporte Ventas</a>
        </li>
        <!-- <li routerLinkActive="resporte-ventas-online">
          <a routerLink="usuarios">Reporte Ventas en linea</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="container-router">
    <router-outlet></router-outlet>
  </div>
</div>
