.label {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.input-control {
  width: 28%;
  display: flex;
  align-items: flex-end;
}

.content-controls {
  display: flex;
}

.title {
  margin-bottom: 20px;
}

#modalAddUsr {
  max-width: 340px
}


.container-add-employed {
  max-width: 400px;
  display: flex;
}