<div class="">
  <div class="title">
    <h3>Lista de empleados</h3>
  </div>

  <h5>Agregar nuevo usuario</h5>
  <div class="container-add-employed">
    <input
      placeholder="*Email"
      class="input"
      type="email"
      [(ngModel)]="correo_electronico">
    <div style="margin-left: 4px;">
      <button
        (click)="clickOnAgregarEmpleado()" 
        mat-raised-button>Agregar
      </button>
    </div>
  </div>

  <br>

  <div class="content-table">
    <app-table
      (events)="actionsTable($event)"
      [columns]="headUnidades"
      [data]="listEmpleados">
    </app-table>
  </div>

</div>

<!-- Modal Structure -->
<!--div id="modalAddUsr" class="modal container">
  <div class="modal-content">
    <h5>Agregar nuevo usuario</h5>

    <div class="row">
      <div class="input-field col s12">
        <input type="email" [(ngModel)]="email">
        <label>Email*</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
          <select
            [(ngModel)]="rol">
            <option *ngFor="let r of listRoles" value="{{r.id}}">
              {{r.nombre}}
            </option>
          </select>
          <label>Rol*</label>
      </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <select
            [(ngModel)]="idUnidad">
            <option *ngFor="let u of listUnidades" value="{{u.id}}">
              {{u.nombre}}
            </option>
          </select>
          <label>Unidad</label>
        </div>
    </div>

  </div>

  <div class="modal-footer">
    <button
      (click)="clickOnAgregarOperador()"
      class="btn waves-effect modal-close">
      Aceptar
    </button>

    <a href="#!" class="modal-close waves-effect waves-green btn">Cancelar</a>
  </div>
</div-->
