<div class="main-container">

  <mat-card *ngIf="(account$ | async)">
    <!-- <mat-card-header>
      <mat-card-title>Informacion General</mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
      <div class="logo">
        <img [src]="logoImg.url || 'assets/logo.png'" alt="logo"/>
        <label
          class="input-file mat-raised-button mat-button-base mat-accent"
          for="settings-input-file-logo">
          <span>
            <mat-icon class="material-icons">cloud_upload</mat-icon>
            Cargar logo
          </span>
        </label>
        <input
          (change)="setLogoImg($event.target)"
          accept="image/jpeg"
          id="settings-input-file-logo"
          type="file">
      </div>

      <h5>Datos Generales</h5>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Nombre de la empresa"
          [formControl]="formGeneralConfig.controls['nombre_empresa']">
        <mat-error 
          [appError]="formGeneralConfig.controls['nombre_empresa'].errors">
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Seleccione Categoria</mat-label>
        <mat-select [formControl]="formGeneralConfig.controls['categorias']" multiple>
          <mat-option *ngFor="let cat of listCategoriasSocio$ | async" [value]="cat.id">{{cat.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Descripcion*"
          type="text"
          [formControl]="formGeneralConfig.controls['descripcion']">
        </textarea>
        <mat-error 
          [appError]="formGeneralConfig.controls['descripcion'].errors">
        </mat-error>
      </mat-form-field>

      <h5>Datos Fiscales</h5>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Razón social"
          [formControl]="formGeneralConfig.controls['razon_social']">
        <mat-error 
          [appError]="formGeneralConfig.controls['razon_social'].errors">
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="RFC"
          [formControl]="formGeneralConfig.controls['rfc']">
        <mat-error 
          [appError]="formGeneralConfig.controls['rfc'].errors">
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Direccion fiscal"
          [formControl]="formGeneralConfig.controls['direccion_fiscal']">
        <mat-error 
          [appError]="formGeneralConfig.controls['direccion_fiscal'].errors">
        </mat-error>
      </mat-form-field>

      <h5>Modulos y comportamiento</h5>

      <mat-checkbox
        [formControl]="formGeneralConfig.controls['has_punto_venta']">
        Habilitar punto de venta
      </mat-checkbox><br>
      &nbsp;&nbsp;&nbsp;&nbsp;(gratis por 3 meses)
      <br><br>
      <mat-checkbox
        [formControl]="formGeneralConfig.controls['has_solicitud_servicio']">
        Recibir solicitudes de servicios o productos
      </mat-checkbox>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;(gratis por tiempo indeterminado)
      <br>
      <br>
      <mat-checkbox
        disabled
        [formControl]="formGeneralConfig.controls['has_facturacion']">
        Modulo de facturacion próximamente
      </mat-checkbox>
  
      <!-- <mat-form-field>
        <textarea
          matInput
          placeholder="Palabras clave de busquedas*"
          type="text"
          [formControl]="formGeneralConfig.controls['palabras_clave']">
        </textarea>
        <mat-error 
          [appError]="formGeneralConfig.controls['palabras_clave'].errors">
        </mat-error>
      </mat-form-field> -->

    </mat-card-content>
    <mat-card-actions>
      <button
        (click)="saveGeneralConfig()"
        color="primary"
        mat-raised-button>Guardar
      </button>
    </mat-card-actions>
  </mat-card>



  <ng-container *ngIf="(account$ | async)?.accountIsCreated">

    <mat-card>
      <mat-card-content>

      <h5>Imagen promocional</h5>
      
      <div class="container-image">
        <div class="image">
          <img [src]="promocionalUrlImg || 'assets/incognito-sucursal.jpg'" alt="Imagen promocional de la empresa">
        </div>
        <app-galery
          [type]="'promocional'"
          (onSave)="onSavePromocionalImg($event)">
        </app-galery>
      </div>

      <h5>Estilos y colores</h5>
  
      </mat-card-content>

      <mat-card-actions>
        <button
          (click)="saveStyles()"
          color="primary"
          mat-raised-button>Guardar
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- config punto de venta -->
    <mat-card *ngIf="(socio$ | async)?.has_punto_venta">
      <mat-card-header>
        <mat-card-title>Configuracion de recargas electronicas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div [formGroup]="formSetting" role="form" class="form-settings">
          <mat-form-field>
            <mat-label>Seleccione el proveedor</mat-label>
            <mat-select [formControl]="formSetting.controls['provider']" [disabled]="!modeEdit">
              <mat-option *ngFor="let provider of providers" [value]="provider">{{provider}}</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field *ngIf="modeEdit">
            <input
              [formControl]="formSetting.controls['usuario']"
              matInput
              placeholder="Usuario*"/>
            <mat-error 
              [appError]="formSetting.controls['usuario'].errors">
            </mat-error> 
          </mat-form-field>
      
          <mat-form-field *ngIf="modeEdit">
            <input
              matInput
              type="password"
              placeholder="Contraseña*"
              [formControl]="formSetting.controls['password']">
            <mat-error 
              [appError]="formSetting.controls['password'].errors">
            </mat-error>
          </mat-form-field>
      
          <mat-form-field *ngIf="modeEdit">
            <input
              matInput
              placeholder="Pin*"
              type="password"
              [formControl]="formSetting.controls['pin']">
            <mat-error 
              [appError]="formSetting.controls['pin'].errors">
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          *ngIf="modeEdit"
          color="primary"
          mat-raised-button
          (click)="onSaveSettings()">
          Guardar Configuracion
        </button>
      
        <button
          *ngIf="!modeEdit"
          color="primary"
          mat-raised-button
          (click)="modeEdit = true">
          Cambiar Configuracion
        </button>
      </mat-card-actions>
    </mat-card>

    <ng-container *ngIf="(socio$ | async)?.has_punto_venta">
      <app-printer-config></app-printer-config>
    </ng-container>

    <!-- config facturacion -->
    <mat-card *ngIf="(socio$ | async)?.has_facturacion">
      En construccion
    </mat-card>
  </ng-container>

</div>
