.main-container {
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

mat-card {
    margin: 20px;
}

input[type="file"] {
    display: none;
}

.input-file > span {
    display: flex;
    align-items: center;
}

.input-file mat-icon {
    margin-right: 5px;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.logo img {
    width: 150px;
    height: auto;
    margin: auto;
}

.logo > label {
    margin: auto;
    margin-top: 10px;
}

/* Small devices */
@media only screen and (max-width: 600px) {
    mat-card {
        width: 80%;
    }
}

/* Medium devices */
@media only screen and (min-width: 600px) {
    mat-card {
        width: 500px;
    }
}