<div class="">
  <div class="title">
    <h4>Lista de categorias</h4>
  </div>
  <div class="main-actions">
    <div class="buttons">
      <a
        mat-raised-button
        routerLink="/admin/categoria/editar">
          <i class="fas fa-plus"></i>
          NUEVO
      </a>
    </div>
  </div>

  <div class="content-table">
    <app-table
      #tableUnidades
      (events)="actionsTable($event)"
      [columns]="headUnidades"
      [data]="list">
    </app-table>
  </div>

</div>
