<div class="main-container">
  <mat-card *ngIf="(usuario$ | async)">
    <mat-card-header>
      <mat-card-title>Mi perfil</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="logo">
        <img [src]="profileImg.url" alt="logo"/>
        <label
          class="input-file mat-raised-button mat-button-base mat-accent"
          for="settings-input-file-logo">
          <span>
            <mat-icon class="material-icons">cloud_upload</mat-icon>
            Foto de perfil
          </span>
        </label>
        <input
          (change)="setProfileImg($event.target)"
          accept="image/jpeg"
          id="settings-input-file-logo"
          type="file">
      </div>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Nombre"
          [formControl]="formProfile.controls['nombre']">
        <mat-error 
          [appError]="formProfile.controls['nombre'].errors">
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Apellidos"
          [formControl]="formProfile.controls['apellidos']">
        <mat-error 
          [appError]="formProfile.controls['apellidos'].errors">
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Correo electrónico"
          [formControl]="formProfile.controls['correo_electronico']">
        <mat-error 
          [appError]="formProfile.controls['correo_electronico'].errors">
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="telefono"
          [formControl]="formProfile.controls['telefono']">
        <mat-error 
          [appError]="formProfile.controls['telefono'].errors">
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        (click)="saveInfoUsuario()"
        color="primary"
        mat-raised-button>Guardar
      </button>
    </mat-card-actions>
  </mat-card>

</div>
