.inputs-container {
    display: flex;
    flex-direction: column;
}

.inputs-container input, select {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 4px;
}

label {
    color: #757575;
}

.inputs-container select {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 4px;
}

.message {
    width: 100%;
    height: 20px;
    color: red;
}

div[mat-dialog-content] {
    background-color: #f1f1f1!important;
}

.telefono {
    font-size: 32px !important
}