<div mat-dialog-content>
  <span mat-dialog-title>RECARGAS ELECTRONICAS</span>
  <div class="inputs-container">
    <label>Compania</label>
    <select 
      (change)="onChangeCompany()"
      [(ngModel)]="nameCompanySelected">
      <option *ngFor="let d of infoRecargas" [value]="d.compania">
        {{d.compania}}
      </option>
    </select>
    <label>Numero telefonico</label>
    <input
      class="telefono"
      type="text"
      [(ngModel)]="telefono1">
    <label>Confirmar numero</label>
    <input
      class="telefono"
      type="number"
      [(ngModel)]="telefono2">
    <label>Monto</label>
    <select [(ngModel)]="montoCodigoSelected">
      <option disabled [value]="''">Seleccione el monto</option>
      <ng-container *ngIf="companySelected">
        <optgroup [label]="s.nombre" *ngFor="let s of companySelected.servicios">
            <option 
              [value]="p.montoCodigo" 
              *ngFor="let p of s.productos">
              {{p.nombre}}
            </option>
        </optgroup>
      </ng-container>
    </select>
    <label>Pin de seguridad</label>
    <input 
      type="password"
      [(ngModel)]="pin">
  </div>
  <div class="message">{{message}}</div>
</div>
<div mat-dialog-actions align="end">
  <button 
    mat-raised-button
    [mat-dialog-close]="'cancel'">
    Cancelar
  </button>
  <button
    mat-raised-button color="primary"
    (click)="hacerRecarga()">
    Aceptar
  </button>
</div>