<div class="container">
  <div>
    <div class="main-actions">
      <div class="title">
        <h5>Notificaciones</h5>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <input
            type="text"
            [formControl]="formNotification.controls['titulo']">
          <label class="col-form-label">Titulo*</label>
          <small
            *ngIf="formNotification.controls['titulo'].hasError('required') && formNotification.controls['titulo'].touched"
            class="form-text text-danger ">
            Este campo es requerido
          </small>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea
            class="materialize-textarea"
            type="text"
            [formControl]="formNotification.controls['mensaje']">
          </textarea>
          <label>Mensaje*</label>
          <small
            *ngIf="formNotification.controls['mensaje'].hasError('required') && formNotification.controls['mensaje'].touched"
            class="form-text text-danger ">
            Este campo es requerido
          </small>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input
            type="text"
            [formControl]="formNotification.controls['url']">
          <label>url*</label>
          <small
            *ngIf="formNotification.controls['url'].hasError('required') && formNotification.controls['url'].touched"
            class="form-text text-danger">
            Este campo es requerido
          </small>
        </div>
      </div>

      <div>
        <button class="btn btn-sm btn-primary right" (click)="send()">
          Enviar
        </button>
      </div>
    </div>
  </div>
  <!-- <div class='title' *ngIf="!hasNotifications">
    <h5>No puede enviar notificaciones, pongase en contato con alguno de nuestros agentes</h5>
  </div> -->
</div>
