.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #37474f;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  width: 680px;
  height: 408px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/*aspect ratio 0.6*/
.selector {
  width: 480px;
  height: 288px;
  background: white;
  opacity: 0.3;
  cursor: move;
  border-style: dotted;
}

.buttons-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.buttons-container button {
  margin-left: 5px;
}

.buttons-container input {
  width: 260px;
  color: white;
  margin: 10px;
}
