<div class="main-container">
  <div class="image-container">
    <div [ngStyle]="styles">
      <img #image [src]="source" alt="">
      <div
        (pan)="dragSelector($event)"
        class="selector"
        [ngStyle]="stylesSelector">
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading" class="buttons-container">
    <button
      mat-raised-button
      *ngIf="!isLoading"
      class="btn"
      (click)="onClickAceptar()">Aceptar
    </button>
    <button
      mat-raised-button
      *ngIf="!isLoading"
      class="btn"
      (click)="onClickCancelar()">Cancelar
    </button>
  </div>

  <div *ngIf="isLoading">
    Guardando...
  </div>

  <div *ngIf="!isLoading" class="buttons-container">
    <span>{{errorMessage}}</span>
  </div>
</div>
