<button
  mat-raised-button
  class="btn"
  (click)="onClick($event)"
  [disabled]="isLoading">
  {{text}}
  <div *ngIf="isLoading" class="preloader-wrapper small active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</button>
