<div class="main-container">
  <div class="title">
    <h3>Reporte de ventas</h3>
  </div>
  <h4>Total Vendido: {{totalRangeVentas}}</h4>
  <div class="row container-dates">
    <mat-form-field>
      <input 
        matInput
        [matDatepicker]="picker1"
        placeholder="Fecha inicio"
        [(ngModel)]="dateInit">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker2"
        placeholder="Fecha fin"
        [(ngModel)]="dateEnd">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button (click)="onClickBuscar()">Buscar</button>
  </div>
  <div>
    <app-chart
      #barchar
      (clickbar)="onClickBar($event)">
    </app-chart>
    <!-- <app-chart
      [type]="'line'"
      #barline>
    </app-chart> -->
  </div>
  <div class="detail">
    <mat-accordion class="expansion">
        <mat-expansion-panel
          *ngIf="listVentasByDay && listVentasByDay.length">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Ventas</h3>
            </mat-panel-title>
            <mat-panel-description>
              {{dateSelected}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-table
            (events)="actionsTableVentas($event)"
            [columns]="headVentas"
            [data]="listVentasByDay">
          </app-table>
        </mat-expansion-panel>

        <mat-expansion-panel
          *ngIf="listVentasByDayProducts && listVentasByDayProducts.length"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Productos vendidos</h3>
            </mat-panel-title>
            <mat-panel-description>
              {{dateSelected}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-table
            [columns]="headProductos"
            [data]="listVentasByDayProducts">
          </app-table>
        </mat-expansion-panel>

        <mat-expansion-panel
          *ngIf="listVentasByDayRecargas && listVentasByDayRecargas.length"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Recargas electronicas</h3>
            </mat-panel-title>
            <mat-panel-description>
                {{dateSelected}} - Total {{totaRecargas}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-table
            (events)="actionsTableRecarga($event)"
            [columns]="headRecargas"
            [data]="listVentasByDayRecargas">
          </app-table>
      </mat-expansion-panel>
      </mat-accordion>

  </div>
</div>
