.container-dates {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.container-dates mat-form-field {
  margin-right: 15px;
}

.main-container {
  margin-bottom: 60px;
}

app-chart {
  padding: 20px 50px 20px 50px;
}

.expansion .mat-expansion-panel-header-title,
.expansion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.expansion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.detail {
  padding-left: 10px;
  padding-right: 20px;
}