.buttons {
  text-align: right;
  padding: 10px;
  max-width: 720px;
}

.buttons button {
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
}

/* medium devices */
@media only screen and (max-width: 820px) {
  .form-container {
    width: 98%;
  }
} 

/* Medium devices and more */
@media only screen and (min-width: 820px) {
  .form-container {
    max-width: 300px;
    margin-right: 20px;
    margin: 10px;
  }

}
