<div class="content-main">
  <div>
    <h3>Categoria</h3>
  </div>

  <div class="responsive-container">
    <div [formGroup]="formRegistro" role="form" class="form-container">
      <mat-form-field>
        <input
          matInput
          placeholder="Nombre*"
          type="text"
          [formControl]="formRegistro.controls['nombre']">
          <mat-error 
            [appError]="formRegistro.controls['nombre'].errors">
          </mat-error> 
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Descripcion*"
          type="text"
          [formControl]="formRegistro.controls['descripcion']">
        </textarea>
        <mat-error 
          [appError]="formRegistro.controls['descripcion'].errors">
        </mat-error> 
      </mat-form-field>
    </div>

    <div>
      <div class="container-image">
        <div class="image">
          <img [src]="urlImage || 'assets/incognito-sucursal.jpg'" alt="Imagen de la categoria">
        </div>
        <app-galery
          [type]="'categorias'"
          (onSave)="setMainImage($event)">
        </app-galery>
      </div>
    </div>

  </div>
  <div *ngIf="idCategoria" class="buttons">
    <button mat-raised-button (click)="clickOnCancel()">Atras</button>
    <button mat-raised-button (click)="clickOnUpdate()">Guardar cambios</button>
  </div>
  <div *ngIf="!idCategoria" class="buttons">
    <button mat-raised-button (click)="clickOnCancel()">Cancelar</button>
    <button mat-raised-button (click)="clickOnRegister()">Registrar</button>
  </div>
</div>
