<div class="main-container">
  <div class="container-1">
    <input
      #txtProduct
      [(ngModel)]="textSearch"
      (keyup)="onKeyUpInput($event)"
      (keydown)="onKeyDown($event)"
      type="text"
      placeholder="Codigo o nombre de producto">
    <input
      class="number"
      #txtQuantity
      [(ngModel)]="quantity"
      (keyup.enter)="onEnterQuantity()"
      type="number">
    <button
      (click)="onClickCancelSale()"
      mat-raised-button color="warn">
      Cancelar venta
      <i class="material-icons left">cancel</i>
    </button>
    <button
      (click)="onClickFinishSale()"
      mat-raised-button color="primary">
      Terminar venta
      <i class="material-icons left">check_circle</i>
    </button>
    <button
      mat-raised-button color="primary"
      (click)="openModalRecargaElectronica()">
      Recarga electronica
      <i class="material-icons left">phone_android</i>
    </button>
    <ng-container *ngIf="venta$ | async as venta">
      <span class="total" *ngIf="venta.lista_productos.length > 0">Total: ${{venta.total | number: '1.2-2'}}</span>
    </ng-container>
  </div>
  <div class="container-2">
    <div class="product-predict-container dark-primary-color">
      <div class="title-list">
        <span>Lista de Productos</span>
        <a mat-icon-button
          href="#"
          (click)=onClickUpdateList($event)>
          <mat-icon aria-label="Actualizar list de productos">update_circle</mat-icon>
        </a>
      </div>
      <ul>
        <li
          (click)="onClickLista(idx)"
          *ngFor="let p of predictProducts; let idx = index"
          [ngClass]="{'active': indexActiveProduct == idx}">
          {{p.nombre}}
        </li>
      </ul>
    </div>
    <div class="sale-container">
      <table>
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Producto</th>
            <th>Precio</th>
            <th style="width:100px;">Cantidad</th>
            <th style="width:100px;">Subtotal</th>
            <th style="width:70px;">Quitar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listProductosVenta$ | async">
            <td>{{item.producto.codigo}}</td>
            <td>{{item.producto.nombre}}</td>
            <td>${{item.producto.precio_publico | number: '1.2-2'}}</td>
            <td>{{item.cantidad}}</td>
            <td>${{item.total | number: '1.2-2'}}</td>
            <td class="actions">
              <button mat-icon-button color="warn" (click)="removeItem(item)">
                <mat-icon aria-label="Quitar de la lista">remove_circle</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="button-full-screen" mat-mini-fab color="primary" (click)="onClickFullscreen()">
      <mat-icon aria-label="Quitar de la lista">fullscreen</mat-icon>
  </button>
</div>
