.main-container {
  padding: 20px;
}

.container-1 {
  display: flex;
  margin-bottom: 10px;
}

.container-1 input {
  font-size: 22px;
}

.container-1 input[type="text"] {
  font-size: 20px;
  width: 27%;
  padding: 3px;
}

.container-1 .number {
  width: 50px;
}

.container-1 > * {
  margin-right: 10px;
}

.container-2 {
  display: flex;
  margin-bottom: 20px;
  height: 75vh;
}

.container-2  tbody {
  font-size: 16px;
}

.container-2  thead {
  font-size: 18px;
}

.container-2 .actions {
  text-align: center;
}

.product-predict-container ul {
  width: 100%;
  color: white;
  min-height: 60vh;
  max-height: 70vh;
  min-width: 260px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0px;
}

li {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.product-predict-container {
  margin-right: 15px;
  width: 28%;
  height: 100%;
}

.active {
  background-color: #607D8B;
  font-weight: bold;
  font-size: 17px;
}

.sale-container {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
}

.sale-container table {
  width: 100%;
}

.sale-container table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #607D8B;
  color: white;
}

.container-3 {
  text-align: right;
}

.container-3 button{
  margin-right: 10px;
}

.title-list {
  width: 100%;
  display: flex;
  border-bottom: solid 1px;
  color: white;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

.title-list a {
  text-decoration: none;
  margin-right: 10px;
}

.title-list span {
  margin-left: 10px;
}

.total {
  font-size: 30px;
  font-weight: bold;
}

.button-full-screen {
  position: fixed;
  bottom: 20px;
  right: 20px; 
}