mat-card {
  width: 300px;
}

.container-img {
  width: 100%;
  text-align: center;
}

.card-title {
  margin-top: 2px;
  margin-bottom: 4px;
}

.container {
  padding-left: 0px;
  padding-right: 0xp;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-button {
  display: flex;
  justify-content: center;
}

.container-button button {
  display: flex;
}

.preloader-wrapper {
  margin-left: 8px;
  width: 22px;
  height: 22px;
  margin-top: 8px;
}

.container-info {
  color: red;
  width: 300px;
  height: 40px;
}

.card-action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #455A64;
  font-size: 14px;
  height: 30px;
  align-items: flex-end;
}

.container-check {
  margin-bottom: 10px;
}

mat-checkbox {
  font-size: 14px;
}
