<div class="container row">
    <mat-card>
      <div class="container-img">
        <img src="/assets/account_72x72.png" alt="Account">
        <h4 class="card-title">Iniciar sesión</h4>
      </div>
      <div [formGroup]="formLogin" class="card-content" role="form">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Correo Electronico"
            type="email"
            [formControl]="formLogin.controls['correo_electronico']">
            <mat-error 
              [appError]="formLogin.controls['correo_electronico'].errors">
            </mat-error> 
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Contraseña"
            type="password"
            [formControl]="formLogin.controls['password']">
          <mat-error
            [appError]="formLogin.controls['password'].errors">
          </mat-error> 
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select [formControl]="formLogin.controls['typeAccount']">
            <mat-option [value]="'socio'">
                Socio
            </mat-option>
            <!-- <mat-option [value]="'empleado'">
                Colaborador
            </mat-option> -->
          </mat-select>
        </mat-form-field>
        <!-- <div class="container-check">
          <mat-checkbox [formControl]="formLogin.controls['keepSession']">Mantener sesion</mat-checkbox>
        </div> -->
        <div class="container-button">
          <button mat-raised-button color="primary" (click)="login()">
            Iniciar sesion
          </button>
        </div>
      </div>
      <div class="card-action">
        <a class="secondary-text-color" routerLink="/registrar-usuario">Registrase</a>
        <a class="secondary-text-color" routerLink="/recuperar-contrasena/">Olvidé mi constraseña</a>
      </div>
    </mat-card>
</div>
