<div class="">
  <div class="title">
    <h3>Lista de productos</h3>
  </div>
  <div class="main-actions">
    <div class="buttons">
      <a mat-raised-button routerLink="/admin/productos/editar">
        <i class="material-icons left">add</i>NUEVO
      </a>
      <button mat-raised-button (click)="uploadFile()">CARGAR DESDE CVS</button>
      <input style="display: none;" #inputfile type="file" (change)="handleFileInput($event.target.files)"/>
    </div>
  </div>

  <div class="content-table">
    <app-table
      #tableUnidades
      [name]="'listproducts'"
      (events)="actionsTable($event)"
      [columns]="columnsTable"
      [data]="listProducts">
    </app-table>
  </div>

</div>
