<div class="content-main">
  <div class="header title">
    <h3>Registro de productos</h3>
  </div>

  <div class="responsive-container">
    <div [formGroup]="formRegistro" role="form" class="form-registro">
      
      <mat-form-field>
        <input
          type="text"
          [formControl]="formRegistro.controls['nombre']"
          matInput
          placeholder="Nombre*"/>
        <mat-error 
          [appError]="formRegistro.controls['nombre'].errors">
        </mat-error> 
      </mat-form-field>  

      <div class="row vertical-align">
        <mat-form-field>
          <input
            type="text"
            [formControl]="formRegistro.controls['codigo']"
            matInput
            placeholder="Codigo*"/>
          <mat-error 
            [appError]="formRegistro.controls['codigo'].errors">
          </mat-error> 
        </mat-form-field>

        <div class="col s4">
          <button (click)="generarCodigo()" mat-raised-button>Generar</button>
        </div>
      </div>

      <mat-form-field>
        <input
          type="number"
          [formControl]="formRegistro.controls['precio']"
          matInput
          placeholder="Precio*"/>
        <mat-error 
          [appError]="formRegistro.controls['precio'].errors">
        </mat-error> 
      </mat-form-field>

      <mat-form-field>
        <input
          type="number"
          [formControl]="formRegistro.controls['precio_publico']"
          matInput
          placeholder="Precio publico*"/>
        <mat-error 
          [appError]="formRegistro.controls['precio_publico'].errors">
        </mat-error> 
      </mat-form-field>

      <!-- <mat-form-field>
        <input
          type="number"
          [formControl]="formRegistro.controls['precio_online']"
          matInput
          placeholder="Precio online"/>
        <mat-error 
          [appError]="formRegistro.controls['precio_online'].errors">
        </mat-error> 
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>Categoria*</mat-label>
        <mat-select [formControl]="formRegistro.controls['id_categoria']">
          <mat-option *ngFor="let cat of listCategoriesProduct" [value]="cat.id">{{cat.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea
          [formControl]="formRegistro.controls['descripcion']"
          matInput
          placeholder="Descripcion*">
        </textarea>
        <mat-error 
          [appError]="formRegistro.controls['descripcion'].errors">
        </mat-error> 
      </mat-form-field>

      <mat-form-field>
        <textarea
          [formControl]="formRegistro.controls['palabras_clave']"
          matInput
          placeholder="Palabras clave de busquedas">
        </textarea>
        <mat-error 
          [appError]="formRegistro.controls['palabras_clave'].errors">
        </mat-error> 
      </mat-form-field>

      <mat-checkbox
        [formControl]="formRegistro.controls['activo']">
        Producto activo
      </mat-checkbox>

    </div>

    <div>
      <div class="container-image">
        <div class="image">
          <img [src]="urlImage || 'assets/incognito-sucursal.jpg'" alt="Imagen del producto">
        </div>
        <app-galery
          [type]="'productos'"
          (onSave)="setMainImage($event)">
        </app-galery>
      </div>
    </div>
  </div>

  <div *ngIf="idProduct" class="buttons">
    <a routerLink="/admin/productos" mat-raised-button>
      <mat-icon>cancel</mat-icon>Cancelar
    </a>
    <button class="btn btn-primary" (click)="updateProduct()" mat-raised-button>
      <mat-icon>save</mat-icon>Guardar cambios
    </button>
  </div>
  <div *ngIf="!idProduct" class="buttons">
    <a routerLink="/admin/productos" mat-raised-button>
      <mat-icon>cancel</mat-icon>Cancelar
    </a>
    <button class="btn btn-primary" (click)="saveProduct()" mat-raised-button>
    <mat-icon>save</mat-icon>Registrar
    </button>
  </div>
</div>
