.buttons {
  text-align: right;
  padding: 20px;
  margin-bottom: 20px;
}

.buttons > a {
  margin-right: 10px;
}

.materialize-textarea {
  height: 60px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.form-registro {
  padding-left: 20px;
  padding-right: 20px;
}

.form-registro > * {
  width: 100%;
}


/* Small devices */
@media only screen and (max-width: 820px) {

} 

/* Medium devices and more */
@media only screen and (min-width: 820px) {
  .form-registro {
    width: 40%;
  }
}
