<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  fullScreen="true">
  <p style="font-size: 20px; color: white">{{textLoading}}</p>
</ngx-spinner>
<app-banner></app-banner>
