
<div>
  <div class="container-buttons">
    <button
      mat-raised-button
      (click)="openDialogAddProducts()">
      Seleccionar productos para agregar
    </button>
    <button
      mat-raised-button
      (click)="onClickAddAllProducts()"
      class="btn btn-primary">Agregar todos los productos
    </button>
  </div>
  <div class="content-table">
    <app-table
      #tableUnidades
      (events)="actionsTable($event)"
      [columns]="headUnidades"
      [data]="productsUnidad">
    </app-table>
  </div>
  <hr>

  <div class="main-actions"></div>

</div>
