.content-table {
  margin-top: 10px;
}

.controls-add-products input {
  margin-right: 10px;
}

.container-buttons > * {
  margin-right: 8px;
  width: 250px;
}

/* .filters {
  text-align: right;
} */
