<mat-drawer-container autosize>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button (click)="drawer.toggle()" class='btn-menu' mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="tolbar-title">LOGPOSE</span>
      <ng-container *ngIf="account$ | async as account">
        <div *ngIf="socio$ | async as socio" class="fill-remaining-space items-menu">
          <ul class="right hide-on-med-and-down">
            <li *ngIf="socio.has_solicitud_servicio != false" routerLinkActive="active">
              <div style="position: relative;">
                  <a style="font-weight: bold; text-transform: uppercase;" mat-button (click)="selectUnidad('/pedidos/')">Pedidos</a>
                  <div *ngIf="totalPedidos && totalPedidos > 0" class="circle">{{totalPedidos}}</div>
              </div>
            </li>
            <!-- <li *ngIf="permission.pedidos != false" routerLinkActive="active">
              <a mat-button class="nav-link" routerLink="push-notification">Push notification</a>
            </li> -->
            <li *ngIf="account.perfil == 'socio'" routerLinkActive="active">
              <a mat-button routerLink="/admin">Administracion</a>
            </li>
            <li *ngIf="socio.has_punto_venta" routerLinkActive="active">
              <a mat-button (click)="selectUnidad('/venta/')">Nueva venta</a>
            </li>
          </ul>
        </div>

        <div class='items-menu' *ngIf="(account$ | async)">
          <ul>
            <li>
              <button routerLink="/configuraciones" mat-icon-button>
                <mat-icon>settings</mat-icon>
              </button>
            </li>
            <li>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>person_outline</mat-icon>
              </button>
              <mat-menu #menu>
                <button mat-menu-item routerLink="/perfil">Mi perfil</button>
                <button mat-menu-item (click)="logout()">Salir</button>
              </mat-menu>
            </li>
          </ul>
        </div>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="router-container">  
    <router-outlet></router-outlet>
  </div>

  <mat-drawer #drawer [mode]="'over'" class="example-sidenav" mode="side">
    <mat-list>
      <ng-container *ngIf="account$ | async as account">
        <ng-container *ngIf="socio$ | async as socio">
          <ng-container *ngIf="account.accountIsCreated">
            <h3 mat-subheader>Administración</h3>
            <mat-list-item>
              <mat-icon mat-list-icon>store</mat-icon>
              <a (click)="drawer.close()" routerLink="/admin/unidades" mat-line>Sucursales</a>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>category</mat-icon>
              <a (click)="drawer.close()" routerLink="/admin/categorias" mat-line>Categorias</a>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>local_grocery_store</mat-icon>
              <a (click)="drawer.close()" routerLink="/admin/productos" mat-line>Productos</a>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>group</mat-icon>
              <a (click)="drawer.close()" routerLink="/admin/usuarios" mat-line>Colaboradores</a>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>show_chart</mat-icon>
              <a (click)="drawer.close(); selectUnidad('/admin/resporte-ventas-sitio/')" mat-line>Reporte de ventas en sitio</a>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item *ngIf="socio.has_punto_venta">
              <mat-icon mat-list-icon>shopping_basket</mat-icon>
              <a (click)="drawer.close(); selectUnidad('/venta/')" mat-line>Nueva venta</a>
            </mat-list-item>

            <mat-list-item *ngIf="socio.has_solicitud_servicio">
              <mat-icon mat-list-icon>motorcycle</mat-icon>
                <a (click)="drawer.close(); selectUnidad('/pedidos/')" mat-line>Pedidos</a>
                <div *ngIf="totalPedidos && totalPedidos > 0" class="circle" style="position: unset; color: white;">{{totalPedidos}}</div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item>
              <mat-icon mat-list-icon>settings</mat-icon>
              <a (click)="drawer.close()" routerLink="/configuraciones" mat-line>Configuraciones</a>
            </mat-list-item>

            <mat-divider></mat-divider>
          </ng-container>
          <mat-list-item>
            <mat-icon mat-list-icon>person_outline</mat-icon>
            <a (click)="drawer.close()" routerLink="/perfil" mat-line>Mi perfil</a>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <a (click)="drawer.close(); logout($event)" mat-line>Salir</a>
          </mat-list-item>
        </ng-container>
      </ng-container>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>help</mat-icon>
        <a (click)="drawer.close();" routerLink="/about" mat-line>Acerca de</a>
      </mat-list-item>

      <!--mat-list-item>
        <mat-icon mat-list-icon>info</mat-icon>
        <a (click)="drawer.close(); logout()" mat-line>Terminos y condiciones</a>
      </mat-list-item-->

      <mat-list-item>
        <mat-icon mat-list-icon>info</mat-icon>
        <a (click)="drawer.close();" routerLink="/aviso_privacidad" mat-line>Aviso de privacidad</a>
      </mat-list-item>

    </mat-list>
  </mat-drawer>

</mat-drawer-container>
