.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

li > a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

ul {
  display: flex;
  list-style-type: none;
}

mat-list-item a {
  text-decoration: none;
  color: black;
}


/* Small devices */
@media only screen and (max-width: 820px) {
  .btn-menu {
    display: block;
  }

  .items-menu {
    display: none;
  }

  .tolbar-title {
    margin-left: 20px;
  }
} 

/* Medium devices and more */
@media only screen and (min-width: 820px) {
  .btn-menu {
    display: none;
  }

  .items-menu {
    display: block;
  }
}

.router-container {
  padding: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  right: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}