<div>

    <h2>Aviso de privacidad</h2>
    
    <p style="font-size: 16px; text-align: justify;">
El presente aviso de privacidad se establece en cumplimiento de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.<br>
<br>
Este aviso es relacionado al uso de la aplicación móvil LogposeAPP y al sitio web de: admin.logposeapp.com/<br>
<br>
LOGPOSEAPP, con domicilio en Carretera Federal Mex-Pue Km 98 No. 6 San Pedro Cholula Puebla, México, es responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su protección. Su información personal será utilizada para proveer los servicios y productos que ha solicitado, informarle sobre cambios en los mismos y evaluar la calidad del servicio que le brindamos.<br>
<br>
Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales de distintas formas: cuando usted nos los proporciona directamente; cuando visita nuestro sitio de Internet o utiliza nuestros servicios en línea, cuando usa nuestra aplición móvil y cuando obtenemos información a través de otras fuentes que están permitidas por la ley. Recabamos sus datos personales de forma directa cuando usted mismo nos los proporciona por diversos medios, como cuando nos contacta o nos da información con objeto de que le prestemos un servicio. Los datos que obtenemos por este medio pueden ser, entre otros: Su nombre, correo electrónico (email), telefono, páginas visitadas dentro de nuestro sitio, información para mejorar su experiencia en nuestro sitio como resolución de pantalla, explorador y tipo de sistema operativo utilizado. Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que hemos implementado.
<br>
<br>
Aviso de Privacidad Detallado.<br>
<br>
En este Aviso de Privacidad se explica nuestra política respecto de la recolección, uso, divulgación y transmisión de los datos de usuarios por parte de LOGPOSEAPP. La presente política se podrá modificar a medida que actualizamos y ampliamos nuestros servicios. Por lo tanto, se recomienda consultarla periódicamente. Si accede a nuestro sitio web o de otro modo utiliza nuestro servicio, significa que presta su consentimiento a nuestras prácticas sobre información.<br>
<br>
La presente política se podrá modificar a medida que actualizamos y ampliamos nuestros servicios. Consulte regularmente si existe alguna actualización a esta política. Usted acuerda su aceptación de los Téminos de Uso y el Aviso de privacidad posterior a su consentimiento original, así como el uso del sitio web y aplicación móvil de LOGPOSEAPP o el uso continuo de nuestro servicio después de publicar un cambio a esta política implica que acepta dichos cambios y se obliga a respetarlos. Podrá acceder a la última versión de esta Aviso de privacidad visitando nuestro sitio web y haciendo clic en “Aviso de privacidad” al pie de la página del sitio web https://www.logposeapp.com<br>
<br>
Para garantizar el correcto resguardo de sus datos personales y para dar pleno cumplimiento a las obligaciones que la LFPDPPP establece en la materia, se le informa que LOGPOSEAPP tiene implementadas las medidas de seguridad administrativas, técnicas y físicas necesarias y suficientes para evitar su daño, pérdida, alteración, destrucción, uso, acceso o divulgación indebida.<br>
<br>
En ningún caso LOGPOSEAPP transferirá los datos personales de sus clientes a un tercero, sin el consentimiento previo de los titulares.<br>
<br>
<br>
PROCEDIMIENTO PARA HACER VALER LOS DERECHOS ARCO.-
<br><br>
Usted tiene derecho de acceder a sus datos personales que poseemos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando considere que no se requieren para alguna de las finalidades señalados en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual o de servicio, o bien, oponerse al tratamiento de los mismos para fines específicos.
<br><br>
Los mecanismos que se han implementado para el ejercicio de dichos derechos, los cuales se conocen como derechos Arco mismos que se refieren a la rectificación, cancelación y oposición del Titular respecto al tratamiento de sus datos personales;
<br><br>
1) El procedimiento inicia con la presentación de la solicitud respectiva a los derechos Arco, en el domicilio de nuestra Oficina de Privacidad, mismo que fue debidamente señalado al principio del presente aviso de privacidad.
<br><br>
2) Su solicitud deberá contener la siguiente información:<br>
Nombre del titular de los datos personales. Domicilio o cualquier otro medio de contacto. Documentos que acrediten su personalidad e identidad. La descripción clara y precisa de los datos personales. Cualquier otro documento que facilite la localización de los datos.
<br>
3) El plazo para atender su solicitud es de: 15 días habiles.
<br><br>
La última versión del presente Aviso de privacidad prevalecerá sobre todas las versiones anteriores.
<br><br>
Este aviso fue actualizado por última vez el día 1 de SEPTIEMBRE de 2020 más puede cambiar en cualquier momento y sin previo aviso más que el publicado en nuestra página web www.logposeapp.com
    </p>
</div>
