.content-map {
  height: 500px;
  position: relative;
}

.google-map {
  height: 100%;
}

.content-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-buttons {
  display: block;
}

.modoEdicion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-btns-map button {
  margin-right: 6px;
}

.input-google-map {
  width: 300px;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
}


.current-postion {
  right: 20px;
  bottom: 10px;
  position: absolute;
  z-index: 1000;
}

.pin {
  left: 50%;
  bottom: 50%;
  position: absolute;
  z-index: 1000;
  width: 30px;
  height: 30px;
  margin-left: -15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .modoEdicion {
    flex-direction: column;
  }

} 