<div class="content-buttons">
  <div class="main-buttons" *ngIf="!showButtonsEditArea && !showButtonsEditPosition">
    <!--<button class="btn btn-sm btn-primary" (click)="onClickAreaReparto()">
      Area de Reparto
    </button>-->
    <button mat-raised-button color="primary" (click)="onClickPosition()">
      Seleccionar ubicacion
    </button>
  </div>

  <div class="modoEdicion" *ngIf="showButtonsEditArea">
    <div>
      <button
        *ngIf="polygon.length == 0 && !newPolygon"
        class="btn btn-sm btn-primary"
        (click)="onClickAgregarPoligono()">
        Agregar Poligono
      </button>
      <button
        *ngIf="newPolygon && !modoEdicion"
        class="btn btn-sm btn-primary"
        (click)="onClickCerrarPoligno()">
        Cerrar Poligono
      </button>
      <button
        *ngIf="polygon.length > 0 && newPolygon == null"
        class="btn btn-sm btn-primary"
        (click)="onClickEditarPoligono()">
        Editar
      </button>
      <button
        *ngIf="modoEdicion"
        class="btn btn-sm btn-primary"
        (click)="onClickTerminarEdicion()">
        Terminar Edicion
      </button>
      <button
        *ngIf="polygon.length > 0 && newPolygon != null"
        class="btn btn-sm btn-primary"
        (click)="onClickRestablecerPoligono()">
        Restablecer
      </button>
      <button
        *ngIf="newPolygon != null"
        class="btn btn-sm btn-primary"
        (click)="onClickClearPolygon()">
        Borrar
      </button>
      <button class="btn btn-sm btn-warning" (click)="onClickCancelar()">
        Cancelar
      </button>
    </div>
  </div>

  <div class="modoEdicion" *ngIf="showButtonsEditPosition">
    <div class="container-btns-map">
      <button mat-raised-button color="primary" (click)="onClickAceptarPosition()">
        Aceptar
      </button>
      <button mat-raised-button color="primary" (click)="onClickCancelarPosition()">
        Cancelar
      </button>
    </div>
    <span>Arrastre el mapa para cambiar la posicion</span>
  </div>

</div>

<div class="content-map">
  <img *ngIf="showButtonsEditPosition" class="pin" src="/assets/marker.png">
  <div class="container-input input-google-map">
    <input #search type="text" class="">
  </div>
  <div #mapInicio class='google-map'></div>
  <button (click)="setCurrentPosition()" mat-mini-fab class="current-postion">
    <mat-icon>my_location</mat-icon>
  </button>
</div>
