/* .content-input-file {
  width: 100%;
  text-align: center;
} */

.input-file {
  height: 35px;
  border-radius: 4px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.input-file input[type="file"] {
  display: none;
}

.input-file p {
  font-size: 12px;
  color: #607D8B;
  display: inline-block;
  width: 190px;
}

.select-image {
  width: 420px;
  max-height: 400px;
  border: solid 1px;
  border-color: #B0BEC5;
  border-radius: 4px;
  position: relative;
  background-color: white;
  overflow: hidden;
  margin: 15px;
}

.item-image {
  position: relative;
  width: 120px;
  height: 72px;
  display: inline-block;
  margin: 2px;
}

.item-image img {
  width: 100%;
  height: 100%;
}

.content-item-image {
  margin: auto;
  display: inline-flex;
  transition: transform 300ms ease-out;
  height: 72px;
  background-color: rgb(69, 90, 100);
  height: 100%;
}

.button-control, .button-control * {
  outline: 0;
  border: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-control {
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ECEFF1;
  z-index: 1000;
}

.button-control.left {
  left: 0;
  border-radius: 4px 0 0 4px;
}

.button-control.right {
  right: 0;
  border-radius: 0 4px 4px 0;
}

.btn-delete-image {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #b71c1c;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.editor-modal .mat-dialog-container {
  background: #37474f !important;
}