<!-- <div class="select-image">
  <div (click)="backImage()" class="button-control left">
    <i class="material-icons">navigate_before</i>
  </div>

  <div *ngIf="images && images.length" class="content-item-image" [ngStyle]="{'transform': 'translate('+translate+'px)'}">
    <div class="item-image" *ngFor="let img of images">
      <img src="/assets/loading.png" [attr.data-echo]="img.url" alt="store" (click)="onClickImage(img.url)">
      <a [attr.disabled]="isLoadingDeleteImg ? true : null" (click)="deleteImg($event, img)" href="#" class="btn-delete-image">X</a>
    </div>
  </div>

  <div *ngIf="!images || !images.length" class="content-item-image">
    <strong>Aún no se han cargado imagenes</strong>
  </div>

  <div (click)="nextImage()" class="button-control right">
    <i class="material-icons">navigate_next</i>
  </div>
</div> -->

<div class="input-file">
  <input
    id="inputFileImage"
    accept="image/jpeg"
    type="file"
    (change)="uploadImage($event)"/>
  <p>JPG | 600 X 360 px | 200 Kb max</p>
  <button mat-mini-fab>
    <label for="inputFileImage" class="">
      <mat-icon>cloud_upload</mat-icon>
    </label>
  </button>
</div>

<div id="modalAddImage" class="modal container">
  <!--app-image-editor
    (cancel)="modal.close()"
    (done)="doneUploadImage($event)"
    *ngIf="imageSrc"
    [type]="type"
    [source]="imageSrc"
    [sizeImage]="sizeImageLoad">
  </app-image-editor-->
</div>
