<div mat-dialog-content>
  <div class="header-container" *ngIf="socio$ | async as socio">
    <h3>{{socio.nombre_empresa}}</h3>
    <span>{{venta.unidad.direccion}}, tel: {{venta.unidad.telefono}}</span>
  </div>

  <div class="data-ticket">
    <span>No. ticket: <strong>{{venta.no_ticket}}</strong></span><br>
    <span>Fecha: {{venta.fecha}}</span>
  </div>

  <div class="product-list-container">
    <table *ngIf="!isRecarga" class="table-ticket">
      <thead>
        <tr>
          <th>Prod.</th>
          <th>Precio</th>
          <th>Cant.</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of venta.lista_productos">
          <td>{{item.producto.nombre}}</td>
          <td>{{item.total / item.cantidad}}</td>
          <td>{{item.cantidad}}</td>
          <td>{{item.total | currency}}</td>
        </tr>
      </tbody>
    </table>

    <ng-container *ngIf="isRecarga">
      <span>{{venta.producto_especial.info.descripcion}}</span><br>
      <span>Folio: {{venta.producto_especial.info.folio}}</span><br>
      <span>Telefono: {{venta.producto_especial.info.telefono}}</span><br>
    </ng-container>

    <h3>Total: {{venta.total | currency}}</h3>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="'cancel'">
    Cerrar
  </button>
  <button mat-raised-button color="primary" (click)="printTicket()">
    Imprimir
  </button>
</div>