.header-container {
    text-align: center;
}

.data-ticket {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*.product-list-container {
    text-align: center;
}*/

.table-ticket {
    text-align: left;
    font-size: 14px;
}