<div class="container row">
  <mat-card>

    <div *ngIf="mode == 'password_recovery'" class="card">
      <div class="card-content" role="form">
        <h4 class="card-title">Recuperar contraseña</h4>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Correo Electronico"
            type="email"
            [(ngModel)]="email">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </mat-form-field>
        <div class="container-button">
          <button mat-raised-button color="primary" (click)="onClickRecovery()">Recuperar</button>
          <button mat-raised-button color="primary" (click)="onClickCancel()">Cancelar</button>
        </div>
      </div>
    </div>

    <div *ngIf="mode == 'send_mail'" class="card">
      <div class="card-content" role="form">
        <p>Se ha enviado un enlace a su cuenta de correo para reestablecer su contraseña</p>
      </div>
    </div>

    <div *ngIf="mode == 'reset_password'">
      <div class="card-content" role="form">
        <h4 class="card-title">Recuperar contraseña</h4>
        <div [formGroup]="formReset">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Nueva contraseña"
              type="password"
              [formControl]="formReset.controls['password1']">
            <mat-error 
              [textForPattern]="'La constraseña debe contener una mayuscula, una minuscula y un numero'"
              [appError]="formReset.controls['password1'].errors">
            </mat-error>
          </mat-form-field>
          <mat-form-field  class="full-width">
            <input
              matInput
              placeholder="Repita la constraseña"
              type="password"
              [formControl]="formReset.controls['password2']">
            <mat-error 
              [textForPattern]="'La constraseña debe contener una mayuscula, una minuscula y un numero'"
              [appError]="formReset.controls['password2'].errors">
            </mat-error>
          </mat-form-field>
          <div class="container-button">
            <div class="container-info">
              <small
                *ngIf="formReset.controls['password1'].touched && (formReset.controls['password1'].value != formReset.controls['password2'].value)"
                class="form-text text-muted">
                Las constraseñas no coinciden
              </small>
            </div>
            <button mat-raised-button color="primary"  (click)="onClickResetPassword()">Cambiar contraseña</button>
          </div>
        </div>
      </div>
    </div>

  </mat-card>

</div>
