mat-card {
  width: 300px;
}

.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-button {
  text-align: right;
  button {
    margin-left: 10px;
  }
}

.container-info {
  color: red;
  width: 300px;
  height: 40px;
}

.reset-password {
  width: 420px;
}
