<div class="dialog" [style.display]="display">
  <div *ngIf="typeModal == 'iSloading'" class="content-dialog loading">
    <div class="sk-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
    <div>
      {{ message }}
    </div>
  </div>
  <div *ngIf="typeModal == 'isMessage'" class="content-dialog message">
    <span class="title">{{title}}</span>
    <span>{{message}}</span>
    <div class="button">
      <button
        mat-raised-button
        color="primary"
        (click)="close()">
        Cerrar
      </button>
    </div>
  </div>
  <div *ngIf="typeModal == 'isError'">

  </div>
</div>
