.content-detail span {
  display: block;
}

.buttons {
  width: 100%;
}

.buttons > button {
  width: 150px;
  margin-left: 8px;
}

.lista-pedido {
  display: flex;
  justify-content: space-between;
}

/* .content-map {
  height: 500px;
  position: relative;
} */

.google-map {
  height: 350px;
}

.ventas canvas {
  max-width: 700px;
}

.ventas {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

select {
  margin-bottom: 5px;
}

.content-table select {
  max-width: 318px;
}

.margin {
  margin: 30px;
}

.pedidos-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

.container-group {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  border-color: #ccc;
}

.container-group > strong {
  margin-bottom: 6px;
  margin-top: 6px;
  display: block;
}

.container-group .buttons {
  width: 100%;
  text-align: right;
  text-align: -webkit-right;
  margin-top: 5px;
}

/* Small devices */
@media only screen and (max-width: 600px) {
  .content-table select {
    max-width: 100%;
  }
}

tr:nth-child(even) {
  background-color: #ddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
