<div class="main-container" id='pedidos-view'>
  <div class="title">
    <h3>Lista de pedidos</h3>
  </div>
  <div class="pedidos-container">

    <div class="content-table">
      <mat-slide-toggle
        color="primary"
        (change)="changeStatus()"
        [(ngModel)]="isActivo">
        Recibir solicitudes
        <span *ngIf="isActivo" style="color: green; font-weight: bold;"> (activo)</span>
        <span *ngIf="!isActivo" style="color: red; font-weight: bold;"> (desactivado)</span>
      </mat-slide-toggle>
      <br>
      <br>
      <app-table
        (events)="actionsTable($event)"
        [columns]="headPedidos"
        [data]="listPedidos">
      </app-table>
    </div>

    <div class="content-detail" *ngIf="detailPedido">

      <div class="container-group">
        <strong>Datos generales del pedido</strong>
        <span>No ticket: <strong>{{detailPedido.no_ticket}}</strong></span>
        <span>Estatus: <strong>{{detailPedido.estatus_html}}</strong></span>
        <span>Fecha: {{detailPedido.fecha}}</span>
        <div class="buttons">
          <button 
            mat-raised-button
            color="primary"
            *ngIf="detailPedido.estatus == 0"
            (click)="onClickSetState(1)">
            Aceptar pedido
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="detailPedido.estatus == 2"
            class="btn btn-primary"
            (click)="onClickSetState(3)">
            Finalizar pedido
          </button>
          <button
            *ngIf="detailPedido.estatus != 3 && detailPedido.estatus != 4"
            mat-raised-button
            color="primary"
            class="btn btn-primary"
            (click)="onClickSetState(4)">
            Cancelar
          </button>
        </div>
      </div>

      <div class="container-group">
        <strong>Informacion del usuario</strong>
        <span>Nombre: {{detailPedido.comprador.nombre}}</span>
        <span>Telefono: {{detailPedido.comprador.telefono}}</span>
        <span>Correo electronico: {{detailPedido.comprador.correo_electronico}}</span>
      </div>

      <div class="container-group" *ngIf="detailPedido.estatus == 1">
          <strong>Repartidor</strong>
          <select class="select" [(ngModel)]="idRepartidor">
            <option value="-1">No asignar</option>
            <option *ngFor="let r of empleados$ | async" [value]="r.id">{{r.nombre}}</option>
          </select>
          <div class="buttons">
            <button mat-raised-button color="primary" (click)="asignarRepartidor()">Enviar pedido</button>
          </div>
      </div>

      <!--div class="container-group" *ngIf="detailPedido.estatus == 2">
        <strong>Repartidor</strong>
        <span>Nombre: {{detailPedido.repartidor_asignado.nombre}}</span>
        <span>Correo electronico: {{detailPedido.repartidor_asignado.correo_electronico}}</span>
      </div-->

      <div class="container-group" *ngIf="detailPedido.tipo == 0">
        <strong>Informacion del pedido</strong>
          <div style="overflow-x: auto;">
            <table>
              <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>Total</th>
              </tr>
              <ng-container *ngFor="let p of detailPedido.lista_productos">
                <tr>
                  <td>{{p.producto.codigo || 'codigo'}}</td>
                  <td>{{p.producto.nombre}}</td>
                  <td>${{p.producto.precio}}</td>
                  <td>{{p.cantidad}}</td>
                  <td>${{p.total}}</td>
                </tr>
              </ng-container>
            </table>
          </div>

          <h3>Total: ${{detailPedido.total}}</h3>

      </div>

      <div class="container-group">
        <strong>Informacion entrega</strong>
        <ng-container *ngIf="detailPedido.tipo == 0">
          <div>{{infoEntrega}}</div>
          <div>{{horaEntrega}}</div>
        </ng-container>
        <div #mapEntrega class='google-map'></div>
      </div>

    </div>
  </div>

</div>
