/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  overscroll-behavior-y: contain;
  padding: 0px;
  margin: 0px;
  background-color: #fafafa;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.full-width {
  width: 100%;
}

mat-dialog-container {
  background-color:#f1f1f1!important
}

.status {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.status-1 {
  background-color: red;
}

.status-2 {
  background-color: yellow;
}

.status-3 {
  background-color: green;
}

.title {
  width: 100%;
  text-align: center;
}

.title h4 {
  color: #616161;
  font-weight: bold;
  margin-top: 30px;
}

.main-actions {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.accent-color          { background: #009688; }
.divider-color         { border-color: #BDBDBD; }
.text-primary-color    { color: #FFFFFF !important; }
.primary-text-color    { color: #212121 !important; }
.secondary-text-color  { color: #757575 !important; }

.spinner-white-only {
  border-color: white;
}

.padding-1x {
  padding: 10px;
}

.padding-2x {
  padding: 20px;
}

.padding-4x {
  padding: 40px;
}

.modal {
  max-height: 80% !important;
}


.container {
  padding-top: 10px;
  padding-left: 40px;
}

.row {
  display: flex;
}

body:fullscreen .main-container {
  background-color: white;
  height: 100vh;
}
body:-webkit-full-screen .main-container {
  background-color: white;
  height: 100vh;
}
body:-moz-full-screen .main-container {
  background-color: white;
  height: 100vh;
}

body:fullscreen .container-2 {
  height: 88vh;
}
body:-webkit-full-screen .container-2 {
  height: 88vh;
}
body:-moz-full-screen .container-2 {
  height: 88vh;
}


body:fullscreen mat-toolbar {
  display: none;
}
body:-webkit-full-screen mat-toolbar {
  display: none;
}
body:-moz-full-screen mat-toolbar {
  display: none;
}

.input, .select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

.table-td-icon {
  display: flex;
  align-items: center;
}

.editor-modal .mat-dialog-container {
  background: #37474f !important;
}

.responsive-container {
  display: flex;
}

.image img {
  width: 100%;
  height: auto;
}

.container-image {
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px;
}

/* medium devices */
@media only screen and (max-width: 820px) {
  .responsive-container {
    flex-direction: column;
    justify-content: center;
  }

  .container-image .image {
    width: 260px;
    height: 156px;
    margin: auto;
  }

} 

/* Medium devices and more */
@media only screen and (min-width: 820px) {
  .responsive-container {
    flex-direction: row;
  }

  .container-image .image {
    width: 400px;
    height: 250px;
    margin: auto;
  }

}