    <!-- Configuracion de impresora -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Configuracion de impresora de tickets</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div>
          <div>
            <mat-form-field>
              <input
                type="number"
                [(ngModel)]="servicePort"
                matInput
                placeholder="Puerto de impresion"/>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <button
              mat-raised-button
              (click)="initServicePrinter()">
              Probar conexion
            </button>
          </div>
          <strong>
            Servicio de impresion:
            <span style="color:green" *ngIf="activeService"> activo</span>
            <span style="color:red" *ngIf="!activeService"> no activo</span>
          </strong>
        </div>

        <ng-container *ngIf="activeService">
          <div>
            <strong> 
              <span *ngIf="currentUserConfig?.printer">Impresora {{currentUserConfig.printer.name}}: </span>
              <span *ngIf="!currentUserConfig?.printer">Ninguna impresora configurada. </span>
              <span style="color:green" *ngIf="activePrinter"> activa</span>
              <span style="color:red" *ngIf="!activePrinter"> no activa</span>
            </strong>
          </div>
          <br>
          <div class="form-actions">
            <button 
              mat-raised-button
              (click)="testPrinter()"
              [disabled]="!activePrinter">
              Impresion de prueba
            </button>
            &nbsp;&nbsp;&nbsp;
            <button
              mat-raised-button
              (click)="initPrinter()"
              [disabled]="!currentUserConfig?.printer">
              Reconectar
            </button>
          </div>
          <br>
          <h4>Cambiar configuracion</h4>

          <div>
            <mat-form-field>
              <mat-label>Seleccione impresora</mat-label>
              <mat-select [formControl]="userConfig.controls['printerId']">
                <mat-option [value]="0" disabled>Seleccione impresora</mat-option>
                <mat-option *ngFor="let printer of printerList" [value]="printer.id">{{printer.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <button
              mat-raised-button
              (click)="getPrinterList()">
              Buscar Impresoras
            </button>
          </div>
        </ng-container>

      </mat-card-content>
    
      <mat-card-actions>
        <button
          [disabled]="!activeService"
          color="primary"
          mat-raised-button
          (click)="saveConfig()">
          Guardar Configuracion
        </button>
      </mat-card-actions>
    </mat-card>