/* Small devices */
@media only screen and (max-width: 600px) {
    mat-card {
        width: 80%;
    }
}

/* Medium devices */
@media only screen and (min-width: 600px) {
    mat-card {
        width: 500px;
    }
}