<div class="">
  <div class="title">
    <h3>Lista de unidades</h3>
  </div>
  <div class="main-actions">
    <div class="buttons">
      <a
        mat-raised-button
        routerLink="/admin/unidades/registrar">
          <i class="material-icons left">add</i>
          NUEVO
      </a>
    </div>
  </div>

  <app-table
    *ngIf="!showFormResgistroSucursal"
    #tableUnidades
    (events)="actionsTable($event)"
    [columns]="headUnidades"
    [data]="list">
  </app-table>

</div>
