<div class="row">
  <div [formGroup]="formRegistro" role="form" class="form-registro">
    <mat-form-field>
      <input
        [formControl]="formRegistro.controls['nombre']"
        matInput
        placeholder="Alias*"/>
      <mat-error 
        [appError]="formRegistro.controls['nombre'].errors">
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Telefono*"
        [formControl]="formRegistro.controls['telefono']">
      <mat-error 
        [appError]="formRegistro.controls['telefono'].errors">
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Direccion*"
        type="text"
        [formControl]="formRegistro.controls['direccion']">
      <mat-error 
        [appError]="formRegistro.controls['direccion'].errors">
      </mat-error>
    </mat-form-field>

    <div class="row">
      <mat-form-field>
        <input
          matInput
          placeholder="Hora Apertura*"
          type="time"
          [formControl]="formRegistro.controls['hora_apetura']">
        <mat-error 
          [appError]="formRegistro.controls['hora_apetura'].errors">
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Hora Cierre*"
          type="time"
          [formControl]="formRegistro.controls['hora_cierre']">
          <mat-error 
            [appError]="formRegistro.controls['hora_cierre'].errors">
        </mat-error>
      </mat-form-field>
    </div>

    <mat-checkbox
      [formControl]="formRegistro.controls['servicio_domicilio']">
      Servicio a domicilio
    </mat-checkbox>
  </div>

</div>
