.buttons {
  text-align: right;
}

.main-actions {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.row {
  width: 100%;
}

/*apect ratio 0.6*/
.main-image {
  width: 360px;
  height: 216px;
  /* margin: 20px; */
}

textarea {
  height: 60px;
}

input {
  min-width: 150px;
}

.form-registro {
  max-width: 800px;
  margin-right: 30px;
}

mat-form-field {
  width: 100%;
}
