.buttons-actions {
  min-width: 50px;
  text-align: center;
}

.loadding {
  width: 100%;
  text-align: center;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.table {
  width: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding-left: 4px;
  margin: 0px;
  font-size: 15px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table td {
  padding-top: 4px;
  padding-bottom: 4px;  
}

.table th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #607D8B;
  color: white;
  text-transform: uppercase;
}

mat-paginator {
  margin-top: 10px;
}

.container-search {
  margin-bottom: 6px;
}

.table-container {
  overflow-x: auto;
  display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .container-search {
    width: 100%;
  }

  input {
    width: 94%;
  }

} 
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) {

  /*.table-container {
    min-width: 60vw;
  }*/

  .container-search {
    width: 300px;
  }
}



