<div class="container-main" *ngIf="columns">
  <div class="container-search">
    <input
      class="input"
      type="input"
      placeholder="Buscar"
      [(ngModel)]="textSearch" 
      (keyup)="onKeydownSearch($event.key)">
  </div>
  <div class="table-container">
    <table class="table">
      <thead width="100%">
        <tr>
          <th *ngIf="checks">
            <label>
              <input (click)="checkAllItem($event)" type="checkbox" class="filled-in"/>
              <span></span>
            </label>
          </th>
          <ng-container *ngFor="let item of columns">
            <th>{{item.text}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody *ngIf="data">
        <tr *ngFor="let row of pageData">
          <td *ngIf="checks">
            <label>
              <input
                class="filled-in"
                [checked]="row.checked"
                type="checkbox"
                (change)="checkItem(row)"/>
              <span></span>
            </label>
          </td>

          <ng-container *ngFor="let column of columns">
            <!-- for tyep string column -->
            <ng-container *ngIf="column.type == 'string'">
              <td 
                *ngIf="!modeEdition || !column.editable"
                [innerHTML]="generateHTML(row, column.keyReferenceToRow, column.icon)">
              </td>
              <td *ngIf="modeEdition && column.editable">
                <input type="text">
              </td>
            </ng-container>
            <!-- for type catalog catalog -->
            <ng-container *ngIf="column.type == 'catalog'">
              <td 
                *ngIf="!modeEdition || !column.editable" 
                [innerHTML]="getTextFromCatalog(row, column.keyReferenceToRow, column.dataCatalog)">
              </td>
              <td *ngIf="modeEdition && column.editable">
                <select [(ngModel)]="row[h.key]">
                  <option *ngFor="let v of h.values" [value]="v.id">{{v.nombre}}</option>
                </select>
              </td>
            </ng-container>
            <!-- for type action action -->
            <ng-container *ngIf="column.type == 'action'">
              <td class="buttons-actions">
                <button
                  title="{{column.text}}"
                  mat-icon-button
                  (click)="onClickAction(column.dataAction.key, row)">
                  <i class="material-icons left">{{column.dataAction.icon}}</i>
                </button>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-progress-bar
    *ngIf="this.data == undefined"
    mode="indeterminate">
  </mat-progress-bar>

  <div *ngIf="data && data.length == 0">
    <h6>No se encontraron datos</h6>
  </div>

  <mat-paginator
    *ngIf="length && length > 0"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="page"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePaginator($event)">
  </mat-paginator>
</div>