<h1 mat-dialog-title>Seleccione una sucursal</h1>
<div mat-dialog-content>
  <mat-nav-list>
    <ng-container *ngFor="let unidad of data.list">
      <button
        mat-list-item
        [routerLink]="data.route + unidad.id"
        [mat-dialog-close]="null">
        {{ unidad.nombre }}
    </button>
    </ng-container>
  </mat-nav-list>
</div>
<div mat-dialog-actions align="end">
  <button 
    mat-button 
    [mat-dialog-close]="'close'">
    Cancelar
  </button>
</div>